<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../../../favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/style.css" />

    <link href="carousel.css" rel="stylesheet" />

    <title>B57Personalweb</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white">
        <div class="container-fluid">
          <img
            src="https://dumbways.id/assets/images/brandred.png"
            class="navbar-brand navbar-logo"
          />
          <button
            class="navbar-toggler text-dark"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"><i
                style="padding-top: 5px"
                class="fa fa-bars"
                aria-hidden="true"
              ></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item active">
                <a class="nav-link text-dark poppins-bold" href="/">Home
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-dark poppins-regular"
                  href="/project"
                >Add Project</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-dark poppins-regular"
                  href="/testimonial"
                >Testimonial</a>
              </li>
            </ul>
            <div>
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {{#if user}}
                  {{!-- <h1>Hello, {{user.name}}</h1> --}}
                  <li class="nav-item">
                    <p
                      class="nav-link text-dark poppins-regular mt-2"
                      href="/testimonial"
                    >Welcome back!, <strong>{{user.name}}</strong></p>
                  </li>
                  <li class="nav-item m-2">
                    <a
                      href="/logout"
                      class="btn btn-danger poppins-regular p-2"
                    >Logout</a>

                  </li>
                {{else}}
                  <li class="nav-item m-2">
                    <a
                      href="/register"
                      class="btn btn-dark poppins-regular p-2"
                    >Register</a>

                  </li>
                  <li class="nav-item m-2">
                    <a
                      href="/login"
                      class="btn btn-dark poppins-regular p-2"
                    >Login</a>
                  </li>

                {{/if}}
                <li class="nav-item m-2">
                  <a
                    class="btn btn-dark poppins-regular"
                    href="/contact"
                    style="padding: 10px"
                  >
                    Contact Me
                  </a>
                </li>

              </ul>

            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded"></div>

      <!-- Three columns of text below the carousel -->
      <div class="row">

        <div class="d-flex justify-content-center p-5">
          <div class="rating">
            <h1 class="text-center poppins-semibold">My Testimonials</h1>
            <h2 class="text-center poppins-semibold">Rating By Star</h2>
            <div id="button-ratings">
            </div>
          </div>
        </div>
        <div class="row" style="margin-left: 50px;" id="testimonials"></div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script src="./assets/js/vendor/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="./assets/js/vendor/holder.min.js"></script>
    <script
      src="https://kit.fontawesome.com/66aa7c98b3.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/ajax.js"></script>
  </body>
</html>